.modal {
  margin: 20px 0;
  width: 100%;

  input {
    padding: 10px 15px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  &__actions {
    button {
      margin-right: 10px;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      border: none;
      outline: none;
      padding: 10px 15px;
    }

    .submit {
      background: #4DD599;
    }

    .cancel {
      background: #F4F6F8;
      color: #9C9C9C;
    }
  }
}
